*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MB';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
body{
    background: #151515;
}
.header__nav{
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.header__nav-container{
    display: flex;
    align-items: center;
}
.header__nav-container-left{
    display: flex;
    align-items: center;
}
.header__nav-container-left img{
    padding: 6px 30px 6px 0px;
}
.header__nav-list{
    display: flex;
    gap: 30px;
}
.header__nav-link{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__nav-container-right{
    gap: 25px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header__nav-search:hover{
    transform: scale(1.3);
}
.header__nav-search{
    transition: transform 300ms;
}
.header__nav-shop:hover{
    transform: scale(1.3);
}
.header__nav-shop{
    transition: transform 300ms;
}
.header__content{
    height: 700px;
    background: url(../images/Header.jpg) no-repeat center /cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__content-title{
    font-family: 'POR';
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
}
.header__content-link{
    margin-top: 38px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;
    padding: 13px 0;
}
.header__content-link-text{
    font-family: 'MM';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #171718;
}
.main__top-container{
    gap: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__top-left{
    width: 538px;
}
.main__top-left-text{
    font-family: 'MM';
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.main__bottom-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}
.main__bottom-right-text{
    font-family: 'MM';
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}
.main__bottom-right{
    width: 540px;
}
.main__airpod-container{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
}
.main__airpod-text{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.main__airpod-box::before {
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
}
.main__airpod-box::after {
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
}
.main__airpod-box{
    gap: 14px;
    display: flex;
    align-items: center;
}
.main__airpod-left{
    width: 333px;
}
.main__airpod-right{
    width: 333px;
}
.smartphones__box{
    width: 255px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    gap: 10px;
}
.smartphones__box-title{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.smartphones__box-text{
    font-family: 'MR';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
}
.smartphones__box-link{
    margin-top: 10px;
    width: 161px;
    padding: 7px 0;
    text-align: center;
    background: #151515;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.smartphones__container{
    margin-top: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    margin-top: 55px;
    background: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
}
.footer__container{
    padding: 81px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list{
    display: flex;
    gap: 30px;
}
.footer__link{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__box{
    width: 169px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__payment:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.footer__payment{
    transition: transform 300ms;
}